body {
  margin: 0;
  font-family: 'Sue Ellen Francisco', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  color: #2e2338;
  font-size: 40px;
}

p {
  background-color: #2e2338;
  color: #ffccff;
  font-size: 40px;  
  text-align: justify;
  line-height: 1.5;

  width: 48%;
  
  margin-left: 26.5%;

  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;

  border-radius: 10px;
  
  box-sizing: border-box; 
}

a:link {
  color: #2e2338;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #2e2338;
}


ul {
  margin-left: -20px;
  list-style-type: none;
  display: inline-flexbox;
}
li {
  display: inline-flex;
  
  margin-top: 3px;
}

.actionName {
  float: left;
}

.task {
  display: inline-flex;
  margin-right: 20px;
}

.x {
  float:right;
  -moz-user-select: none;
  margin-right: 20px;
}

div.x:hover {
  transform: scale(1.2);
  color: maroon;
  text-shadow: 1px 1px 0px black;

}

#sub {
  background-color: #2e2338;
  border: none;
  color: #ffccff;;
  line-height: 0;
  height:50px;
  margin-top: 18px;
  font-size: 34px;
  font-family: 'Sue Ellen Francisco', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#sub:hover {

  transform: scale(1.0);
  color: maroon;
  text-shadow: 1px 1px 0px black;
}

form {
  width: 40%;
  margin-left: -7%;
}

pre {
  margin: 0;
  font-family: 'Sue Ellen Francisco', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: justify;

  white-space: pre-wrap;    
}

#navbar {
  color: #2e2338;
  font-size: 58px;

  margin-top: 20px;
  margin-left: 50px;

  padding-bottom: 3%;
}

.domainName {
  text-decoration: none;
}

.navOption {
  float: right;
  margin-right: 60px;
}

.example {
  border-radius: 7px;
  font-size: 50px;
  text-align: center;
  margin: 5px;

  width: 150px;
  background-color: #2e2338;
}


#todo {
  width: 30%;
  background-color: #2e2338;
  color: #ffccff;

  border-radius: 10px;

  font-size: 35px;
   
  margin-top: 60px;
  margin-left: calc(50% - 25%);
  padding-left: 25%;
  padding-top: 40px;
  padding-bottom: 40px;
}
